body  {	
	background-color: #7faed1;
	color: rgb(11, 1, 14);

	font-family: "Montserrat", sans-serif;
	margin: 0px;
}

header {
	font-size: 2.5rem;
	border-bottom: inset 2px #e716d6;
	padding: 20px;
	color: #83056e;
	text-align: center;
}

h1 {
	font-size: 1.5rem;
	text-align: center;
	padding-top: 10px;
}
p {
    font-size: 1rem;
	text-align: center;
	padding-top: 0px;
}

section {
	background-color: #7faed1;
	padding-top: 80px ;
	padding-bottom: 80px;
	display: flex;
	justify-content: center;
}

.chamada-texto {
	margin-right: 20px;
}


.chamada {
    background: rgb(184, 156, 213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}


img {
	width: 300px;
    height: 200px;
}

.outras-recomendacoes {
    display: flex;
    overflow-x: auto;
    gap: 20px;
}

h2 {
    margin-left: 30px;
}
